#header{margin-top:20px}#page-container{margin-bottom:20px}#url-rewriting-warning{display:none}
#EmployeeGivePositionForm input, 
#EmployeeGivePositionForm select,
#UserAddForm input,
#UserAddForm select,
#UserEditForm input,
#UserEditForm select,
#EmployeeUpdatePositionForm input,
#EmployeeUpdatePositionForm select,
#StockAddForm input,
#StockAddForm select,
#StockEditForm input,
#StockEditForm select{
	margin: 5px;
}

